<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="../css/displaystu.css">
    </head>
    <body>
        <a href="/student" id="back">BACK</a>
      <div id="bgset">
        <table border="1px" >
            <thead>
                <th class="a"> ATTRIBUTE</th>
                <th class="a">  VALUE</th>
            </thead>
            <tbody>
                <tr style="background-color:rgb(165, 159, 159)" >
                    <th>STUDENT ID</th>
                    <td><%= data[0].stu_id%></td>
                </tr>
                
                <tr style="background-color:rgb(226, 215, 215)">
                    <th>NAME</th>
                    <td><%= data[0].name%></td>
                </tr>
                <tr style="background-color:rgb(165, 159, 159)">
                    <th>DATE OF BIRTH</th>
                    <td><%= data[0].date_of_birth%></td>
                </tr>
                <tr style="background-color:rgb(226, 215, 215)">
                    <th>GENDER</th>
                    <td><%= data[0].gender%></td>
                </tr>
                <tr style="background-color:rgb(165, 159, 159)">
                    <th>ADDRESS</th>
                    <td><%= data[0].address%></td>
                </tr>
                <tr style="background-color:rgb(226, 215, 215)">
                    <th>FATHER NAME</th>
                    <td><%= data[0].father_name%></td>
                </tr>
                <tr style="background-color:rgb(165, 159, 159)">
                    <th>MOTHER NAME</th>
                    <td><%= data[0].mother_name%></td>
                </tr>
                <tr style="background-color:rgb(226, 215, 215)">
                    <th>EMAIL</th>
                    <td><%= data[0].email%></td>
                </tr>
                <tr style="background-color:rgb(165, 159, 159)">
                    <th>MOBILE NO</th>
                    <td><%= data[0].mobile_no%></td>
                </tr>
                <tr style="background-color:rgb(226, 215, 215)">
                    <th>CLASS TEACHER</th>
                    <td><%= data[0].class_teacher%></td>

                </tr>
                <tr>
                    <td> </td>
                </tr>
            </tbody>
        </table>
        <div id="href">
            <a href="/marksdisplay" class="set" target="_blank"><p>MARKS</p></a>
        </div>
      </div>  
    </body>
</html>